// src/pages/index.astro
---
import { getEntry } from 'astro:content';
import { Markdown } from 'astro/components';

const page = await getEntry('pages', 'home');
---

<h1>{page.data.title}</h1>
<p>{page.data.description}</p>

<Markdown content={page.body} />
